
.btn__web-1{
    transition: 0.4s;
}
.btn__web-1:hover{
    box-shadow: 0px 0px 20px #e76500;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #e76500;
}

.rasim-my{
    border: 0 0 1px 0 solid #1b1b1b;
    transform: rotate(-5deg);
    border-radius: 150px;
    margin-top: 35px;
}

.cart-1{
    border: 1px solid rgb(47, 47, 47);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(75, 75, 143, 0.281);
    /* height: 250px; */
}
.cart-1 img{
    border-radius: 15px 15px 0 0;
    padding-bottom: autp;
    height: auto;
}
.cart-1 button{
    border-radius: 0 0 15px 15px;
    color: rgb(0, 0, 0);
}